 .Post_helped-box {
     height: 100%;
     text-align: center;
     background-color: rgb(91, 211, 155);
     opacity:0.6;

     form {
         min-height:120vh;
     }

     .help_label{
         display: flex;
         flex-direction: row;
         text-align: center;
         justify-content: space-between;

        input, select {
            width:15%;
            border-radius: 25px;
            outline: none;
            margin-top:5%;          
            height: 6%;       
            }
        }
        .textaera {
            width: 40%;
            margin-top: 5%;
            margin-left:30%;
            margin-right:30%;
        }
        .picUploader{
            width:20%;
            margin-left:40%;
        }
        .submit {
            width:15%;
            border-radius: 25px;
            outline: none;
            margin-top:5%;          
            height: 6%;
            overflow:hidden;
            text-overflow:ellipsis;
        }

    }
