.update-form {
    text-align: right;
    margin-left:45%;
    margin-right:40%;
    margin-top:5%;
    

    input {
        border-radius:25px;
    }

    .profile_photo_path {
        width: 100%;

        .upload {
            
            height:15vh;
            margin-bottom: 5vh;
            width:50%;

            .picUploader{
                margin-left:40%;
                width:20%;

                .fileContainer{

                    margin-left:40%;
                }
            }
        }
    }
    button {
        border-radius:25px;
        background-color: grey;
        color:wheat;
    }
}
@media only screen and (max-width: 600px) {
  .update-form {
    text-align: center;
  }
}